<div>en
  <select id="curriculum">
    <option value="">tout</option>
  </select>
</div>
<script src="../script/jquery.js"></script>
<script>
  $.ajax({
    url: '../curricula',
    type: 'GET',
    dataType: 'json',
    success: function(result) {
      $.each(result.rows, function(i, o) {
        var key = o.key[0];
        $('#curriculum').append('<option value="'+key+'">'+key+'</option>');
      });
      $('#curriculum').val('{{curriculum}}');
    }
  });
  $('#curriculum').on('change', function() {
    var filter = $(this).val();
    self.location = (filter!=='')? './?curriculum='+filter : '.';
  });
</script>
