<html>
  <body>
    <h1><a href="..">Départs à l'étranger</a> > Conventions d'études</h1>
    {{>filter}}
    {{#semesters}}
      <h2>{{semester}} {{academic_year}}</h2>
      <table>
        <tr><th>Étudiant</th><th>Formation</th><th>Université d'accueil</th>
        {{#agreements}}
        <tr>
          <td><a href="{{_id}}">{{student_firstname}} <b>{{student_surname}}</b></a></td><td>{{study_field}}</td><td>{{host_institution}}</td>
        </tr>
        {{/agreements}}
      </table>
    {{/semesters}}
    <button type="button">Créer</button>
  </body>
  <script src="../script/jquery.js"></script>
  <script>
    $('button').on('click', function() {
      $.ajax({
        type: 'POST',
        url: '..',
        data: '{"courses":[{},{},{},{},{}]}',
        dataType: 'json',
        contentType: 'application/json',
        success: function(data) {
          self.location = data.id;
        }
      });
    });
  </script>
</html>
