<html>
<head>
  <script src="../script/jquery.js"></script>
  <script type="text/javascript">

  function create() {
    var data = {
      host_institution: "{{university}}",
      courses: []
    };
    $(":checked").each(function() {
      data.courses.push({
        id: $(this).val()
      });
    });
    //alert(JSON.stringify(data));
    $.ajax({
      url: "../",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),
      dataType: "json",
      success: function(response) {
        location.replace("../" + response.id);
      }
    });
  }

  </script>
</head>
<body>
  <h1>{{university}}</h1>
  <form>
    {{#courses}}
    <p>
      <input type="checkbox" value="{{code}}" />
      {{code}} ({{equivalence}}, {{count}})
    </p>
    {{/courses}}
    <button type="button" onclick="create()">Créer une convention d'étude</button>
  </form>
</body>
</html>
