<html>
  <body>
    <h1>Départs à l'étranger</h1>
    <!--
    <img src="http://maps.google.com/maps/api/staticmap?center=33,0&zoom=1&size=480x300&sensor=false&markers=label:O|Université de technologie de Troyes France"/>
    -->
    <img src="http://maps.google.com/maps/api/staticmap?center=33,0&zoom=1&size=480x300&sensor=false{{#universities}}&markers=label:{{order}}|{{name}}{{/universities}}" />
    <!---->
    <p>Universités (nombre d'UV validées en {{curriculum}}) :</p>
    <ol>
    {{#universities}}
      <li><a href="universities/{{name}}">{{name}}</a> ({{count}})</li>
    {{/universities}}
    </ol>
  </body>
</html>
